[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"
celery = {extras = ["redis"],version = "*"}

[dev-packages]
python-dotenv = "*"
flask-testing = "*"
nose = "*"

[requires]
python_version = "3.7"
